torch==2.2.0
torchaudio==2.2.0
numpy==1.26.4
protobuf==5.29.4
funasr
modelscope
huggingface_hub
insightface
onnxruntime-gpu
google.generativeai
coqui-tts
coqui-tts[zh]
ffmpeg-python
opencv-python
pandas
pydub
pypinyin
pyquery
selenium
webdriver-manager
PyQt6
sentence-transformers
